<app-navbar></app-navbar>

<h1>Pagina de listagem de produtos</h1>
<button (click)="createProduct()">Novo Produto</button>
<app-table-product
  [products]="products"
  (productDeleted)="loadProducts(currentPage, pageSize)"
></app-table-product>

<app-table-footer
  [totalItems]="totalItems"
  [itemsPerPage]="pageSize"
  [currentPage]="currentPage"
  [pageItems]="pageItems"
  [itemsPerPageOptions]="[5, 10, 20]"
  (pageChanged)="onPageChange($event)"
  (itemsPerPageChanged)="onItemsPerPageChange($event)"
></app-table-footer>


