body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  width: 90%; /* Ocupa 90% da tela */
  max-width: 1200px; /* Limita a largura em telas maiores */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  justify-self: center;
  margin-bottom: 20px;
}

/* Títulos */
h1 {
  font-size: 48px;
  color: #333;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 40px;
  font-weight: bold;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
  margin-bottom: 40px;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
}

button {
  display: block;
  text-align: right;
  margin: 0;
}

.warning {
  text-align: center;
  color: #777;
  font-size: 30px;
  color: #333;
  margin-bottom: 40px;
  font-weight: bold;
}
